# Terraform Provider testing workflow.
name: Lint

# This GitHub action runs your tests for each pull request and push.
# Optionally, you can turn it on using a schedule for regular testing.
on:
  pull_request:
    paths:
      - '**.tf'

# Testing only needs permissions to read the repository contents.
permissions:
  contents: read

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: cache tflint
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
      with:
        path: ~/.tflint.d/plugins
        key: tflint-${{ hashFiles('.tflint.hcl') }}
    - name: setup tflint
      uses: terraform-linters/setup-tflint@19a52fbac37dacb22a09518e4ef6ee234f2d4987 # v4.0.0
    - name: tflint init
      run: tflint --init
    - name: tflint validate
      run: tflint -f compact --module